@model IEnumerable<BH.viewmodel.shoppingviewmodel>
<link href="~/styles/mybootscarousel.css" rel="stylesheet" />
<!--banner-->
<div class="banner">
    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <form action="/shopping/Index" method="get">
                    <ul class="nav navbar-nav nav_1">
                        <li>
                            <button name="searching" type="submit" value="French" class="btn-default" style=" border:hidden;width:100%;font-size:30px">法國</button>
                            
                        </li>
                        <li>
                            <button name="searching" type="submit" value="American" class="btn-default" style=" border:hidden;width:100%;font-size:30px">美國</button>
                        </li>
                        <li>
                            <button name="searching" type="submit" value="Japanese" class="btn-default" style=" border:hidden;width:100%;font-size:30px">日本</button>
                        </li>
                        <li>
                            <button name="searching" type="submit" value="Thai" class="btn-default" style=" border:hidden;width:100%;font-size:30px">東亞</button>
                        </li>
                        <li>
                            <button name="searching" type="submit" value="Other" class="btn-default" style=" border:hidden;width:100%;font-size:30px">其他</button>
                        </li>
                    </ul>
                </form>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="w3l_banner_nav_right">
        <div class="container" style="width:1400px">
            <!-- Slider -->
            <div class="row">
                <!-- Top part of the slider -->
                <div class="row">
                    <div class="span8" id="carousel-bounding-box">
                        <div class="carousel slide" id="myCarousel">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">
                                    <img src="~/images/1.jpg" style="height:500px">
                                </div>

                                <div class="item" data-slide-number="1">
                                    <img src="~/images/2.jpg" style="height:500px">
                                </div>

                                <div class="item" data-slide-number="2">
                                    <img src="~/images/r3.jpg" style="width:1400px;height:500px">
                                </div>
                            </div><!-- Carousel nav -->
                            <a class="carousel-control left" data-slide="prev" href="#myCarousel">‹</a>
                            <a class="carousel-control right" data-slide="next" href="#myCarousel">›</a>

                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!--banner-->
<!--top-banner-->
<div class="top-brands" style="width:90%;position:relative;left:5%">
    <div class="container">
        <h3>熱門商品</h3>
        <div class="agile_top_brands_grids">
            @if (Model.Count() == 0)
            {
                <p colspan="3" style="color:#ff0000;font-size:38px">
                    沒有符合之商品
                </p>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="col-md-3 top_brand_left">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid">
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a href="~/product/@item.itemID.ToString()">
                                                    <img src="@Url.Content(item.imagePath)" style="" height="100%" width="100%" />
                                                </a>
                                                <p style="font-size:30px">@item.itemName</p>
                                                <h4>@item.itemPrice.ToString("#00 元(台幣)")</h4>
                                            </div>
                                            @if (Session["username"] == null || string.IsNullOrWhiteSpace(Session["username"].ToString()))
                                            {
                                                <div class="snipcart-details top_brand_home_details">
                                                    <form action="~/login/Loginfirst" method="post">
                                                        <fieldset>
                                                            <a href="@Url.Action("Loginfirst", "login")">
                                                                <input type="submit" name="submit" value="加入購物車" class="button" />
                                                            </a>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="snipcart-details top_brand_home_details">
                                                    <button name="AddtoCart" value="" class="btn btn-primary" itemid="@item.itemID" id="btnAddtoCart" onclick="AddtoCart(this)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z" />
                                                        </svg>
                                                        加入購物車
                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <!-- <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img title=" " alt=" " src="images/1.png" /></a>
                                <p>fortune sunflower oil</p>
                                <h4>$7.99 </h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="checkout.html" method="post">
                                    <fieldset>
                                        <input type="submit" name="submit" value="點我前往" class="button" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img title=" " alt=" " src="images/1.png" /></a>
                                <p>fortune sunflower oil</p>
                                <h4>$7.99 </h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="checkout.html" method="post">
                                    <fieldset>
                                        <input type="submit" name="submit" value="點我前往" class="button" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img title=" " alt=" " src="images/1.png" /></a>
                                <p>fortune sunflower oil</p>
                                <h4>$7.99 </h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="checkout.html" method="post">
                                    <fieldset>
                                        <input type="submit" name="submit" value="點我前往" class="button" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="single.html"><img title=" " alt=" " src="images/1.png" /></a>
                                <p>fortune sunflower oil</p>
                                <h4>$7.99 </h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <form action="checkout.html" method="post">
                                    <fieldset>
                                        <input type="submit" name="submit" value="點我前往" class="button" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>-->
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--top-banner-->
<div style="width:100%;height:50px">
</div>